/* file: omdb_api.css */

body {
  background-color: black;
}

.container {
  background-color: black;
/*   border: 7px dashed #4b2e83; */
}

.panel {
  margin: 20px auto;
  width: 1000px;
}

div.col-sm-3 {}

div.col-sm-4 {}

div.col-sm-9 {
  border: 3px solid blue;
  height: 42px;
}

div.search-panel {
  border: 3px solid blue;
  height: 42px;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

div.panel-title {
  text-align: center;
  font-size: 20pt;
}

div.movie-title {
/*   border: 2px solid red; */
  text-align: center;
  height: 40px;
}

div.movie-poster {
  width: 100%;
  height: 300px;
  background-color: white;
  margin: 0px auto 0px auto;
  background: gray;
  text-align: center;
  padding: 10px 0;
  overflow: hidden;
}

div.movie-poster img {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

div.movie-poster:hover {
  border: 3px solid rgb(51, 0, 111);
}

footer {
  text-align: center;
}
